*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}
nav{
    justify-content: space-between;
    
    margin: 50px 200px;
    display: flex;
}
.header{
 background-color: #FFF8F3;
 background-image: url(../header_bg.png), url(../developer.png);
 background-repeat: no-repeat;
 background-position: bottom right,left;
}
.title{
    font-weight: 800;
    font-size: 45px;
}
.btn-primary{
    font-size: 700;
    color: aliceblue;
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}
.primary-color{
    color: #FD6E0A;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
   
}
.bannar{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.bannar-sub-title{
    font-weight: 600;
    font-size: 45px;
}
.bannar-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.bannar-des{
    font-size: 18px;
    color: #757575;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    text-align: center;
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
padding: 150px 130px;}
.section-title{
    font-weight: 700;
    font-size: 35px;

    margin-bottom: 50px;
}
.section-des{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-des{
    font-size: 20px;
    font-weight: 700;
    color: #757575;
}
.what-i-do{
    text-align: center;
    margin-bottom: 5px;
    font-size: 40px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px grey;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: ;
}
.skill-title{
    font-size:20px ;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-des{
    color: #757575;
    
}
.section-title{
    margin-top:130px;
text-align:center;
}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume .sub-title{
    margin-bottom: 20px;
    color: #757575;
font-size: 20px;
font-weight: 600;
}
.resume-item{

}
.resume .des{
    color: #757575;
}
.resume-btn{
    margin-top: 60px;
    text-align: center;
}
.contract{
    display: flex;
    gap: 100px;
    background-color: #fff8f3;
    padding: 130px 200px;
}
.contract .section-title{
    text-align: left;
}
a{
    text-decoration: none;
}
.contract input[type="text"], input[type="email"],textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height:64px;
}
.title-des{
    margin-bottom: 15px;
}